/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
* {
  box-sizing: border-box;
}

body {
  padding: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------- FORM ---------- */
.form {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  outline: none;
  color: #2e2f42;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form input::placeholder {
  color: #808080;
}

.form input:hover {
  border: 1px solid #000;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

/* ---------- GALLERY ---------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

.gallery-item {
  max-width: calc((100% - 48px) / 3);
  overflow: hidden;
  border: 1px solid #808080;
}

.gallery-item img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;

  background-color: #fff;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e2f42;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
}

.info p span {
  font-weight: 600;
  line-height: 1.3;
}

.load-more-button {
  display: block;
  margin: 32px auto;
}

/* ---------- LOADER ---------- */
.loader {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 130px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#0277bd, #0277bd),
    linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
  background-size: 80px 70px, 30px 50px, 30px 30px;
  background-position: 0 0, 80px 20px, 100px 40px;
}
.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-sizing: content-box;
  border: 10px solid #000;
  box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
  animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0px;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px, 8px 35px, 0px 60px;
  animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {
  0%,
  50%,
  100% {
    transform: translatey(0);
  }
  30%,
  90% {
    transform: translatey(-3px);
  }
}

@keyframes lineDropping {
  0% {
    background-position: 100px 11px, 115px 35px, 105px 60px;
    opacity: 1;
  }
  50% {
    background-position: 0px 11px, 20px 35px, 5px 60px;
  }
  60% {
    background-position: -30px 11px, 0px 35px, -10px 60px;
  }
  75%,
  100% {
    background-position: -30px 11px, -30px 35px, -30px 60px;
    opacity: 0;
  }
}
